.MenuRow {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #cbcbcf;
  cursor: pointer;
  text-decoration: none;
}
.active {
  color: white;
}
@media (hover: hover) and (pointer: fine) {
  .MenuRow:hover {
    color: white;
  }
}
@media (max-width: 990px) {
  .MenuRow {
    /* display: none; */
  }
}
