.Balance {
  display: grid;
  /* width: 100%;
  height: 100%; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-transform: capitalize;
  row-gap: 5px;
  padding-bottom: 0.3rem;
}
.name {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-start;
}
.amt {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: 700;
  font-size: 18px;
}
.No {
  grid-column: 2/-1;
  grid-row: 1/2;
  justify-self: flex-start;
}
.NoAmt {
  grid-column: 2/-1;
  grid-row: 2/3;
  font-weight: 700;
  font-size: 18px;
}
