.Home {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 250px 1fr;
  background-color: #f2f0f0;
}

.toogle {
  grid-column: 1/2;
  grid-row: 1/-1;
  height: 100vh;
  width: 100%;
}
.header {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 3rem 2rem;
  padding-bottom: 0rem;
}
.balance {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 1rem 2rem;
  padding-top: 0rem;
}
.chart {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 1rem 2rem;
  padding-bottom: 0rem;
}
.history {
  grid-column: 2/3;
  grid-row: 4/5;
  padding: 1rem 2rem;
}
.card {
  grid-column: 3/4;
  grid-row: 1/-1;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.slider {
  display: none;
}
@media (max-width: 1080px) {
  .card {
    padding: 2rem 1rem;
  }
  .CreditCard {
    width: 90%;
  }
}
@media (max-width: 990px) {
  .Home {
    grid-template-columns: 70px 3fr 2fr;
  }
}
@media (max-width: 750px) {
  .history {
    display: none;
  }
  .Home {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 0.5fr 0.5fr 250px 300px;
  }
  .header {
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 0rem 1rem;
  }
  .balance {
    grid-column: 2/-1;
    grid-row: 2/3;
    padding: 0rem 1rem;
  }
  .card {
    grid-column: 2/-1;
    grid-row: 3/4;
    padding: 0rem 1rem;
  }
  .chart {
    grid-column: 2/-1;
    grid-row: 4/-1;
    padding: 0rem 1rem;
  }
  .slider {
    display: block;
  }
}
@media (max-width: 370px) {
  .toogle {
    height: 100%;
  }
  .Home {
    height: 100%;
  }
}
