.toogle {
  grid-column: 1/2;
  grid-row: 1/-1;
  height: 100vh;
  width: 100%;
}
.header {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 3rem 2rem;
  padding-bottom: 0rem;
}
.Transaction {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  grid-template-rows: 80px 4fr;
  gap: 50px;
}
.period {
  grid-column: 2/3;
  grid-row: 2/-1;
}
.history {
  grid-column: 3/-1;
  grid-row: 2/-1;
}
.date {
  padding: 1.5rem;
  box-shadow: 0px 0px 10px #777777;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.date h3 {
  grid-column: 1/-1;
}
.date div {
  font-weight: 600;
}
.border {
  border-right: 1px solid gray;
  margin: 0rem 1rem;
}
.date div {
  display: flex;
  flex-direction: column;
}
.date div input {
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.1rem;
  border: none;
}
.hist {
  padding: 1.5rem;
  box-shadow: 0px 0px 10px #777777;
  border-radius: 10px;
  max-height: 480px;
  width: 90%;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.hist p {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
}
@media (max-width: 960px) {
  .Transaction {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 0.2fr 200px 1fr;
    gap: 30px;
    width: 100%;
    height: 100vh;
  }
  .toogle {
    height: 100%;
  }
  .period {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .history {
    grid-column: 2/-1;
    grid-row: 3/4;
  }
  .date {
    width: 90%;
  }
  .hist {
    width: 90%;
  }
}
@media (max-width: 490px) {
  .Transaction {
    grid-template-rows: 0.2fr 230px 1fr;
  }
  .date {
    display: flex;
    flex-direction: column;
  }
  .border {
    border-bottom: 1px solid gray;
    border-right: none;
    margin: 1rem 0rem;
  }
}
@media (max-width: 360px) {
  .hist,
  .date {
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .Transaction {
    column-gap: 0px;
  }
}
